.home-container {
  position: relative;
  min-height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  font-size: 30px;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
}

.products-flex {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-container {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: var(--color-blue-ish);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--product-price-color);
}

.product-quantity-container {
  margin-bottom: 17px;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  color: #fff;
  /* background-color: var(--color-pink-ish); */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.add-to-cart-button:hover {
  background-color: var(--color-pink-ish);
  transition: 0.5s;
}

.button-primary:active {
  background-color: var(--color-pink-ish);
  border: none;
  box-shadow: none;
}

.add-to-wishlist-button {
  position: absolute;
  top: -2px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-red);
  opacity: 0.3;
}

.add-to-wishlist-button .wishlist-icon {
  pointer-events: none;
}

@media (max-width: 768px) {
  .products-flex {
    gap: 15px;
  }

  .product-container {
    padding: 20px 15px;
  }

  .product-image-container {
    height: 140px;
  }

  .product-container .product-name {
    font-size: 10px;
  }

  .product-rating-stars {
    width: 80px;
  }

  .product-rating-count {
    font-size: 10px;
  }

  .add-to-cart-button {
    padding: 3px;
    font-size: 10px;
  }

  .add-to-wishlist-button {
    position: absolute;
    top: -2px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;

    color: var(--color-red);
    opacity: 0.3;
  }
}

@media (max-width: 480px) {
  .products-flex {
    gap: 10px;
  }

  .product-container {
    padding: 15px 10px;
  }

  .product-image-container {
    height: 90px;
  }

  .product-rating-stars {
    width: 60px;
  }

  .add-to-cart-button {
    padding: 3px;
    font-size: 10px;
  }

  .add-to-wishlist-button {
    position: absolute;
    top: -2px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;

    color: var(--color-red);
    opacity: 0.3;
  }
}
