@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: black;
  --color-blue: rgb(3, 24, 55);
  --color-red: red;
  --color-pink-ish: rgb(230, 0, 255);
  --color-blue-ish: rgb(35, 116, 154);
  --color-border: rgb(231, 231, 231);
  --box-shadow: rgba(60, 64, 67, 0.15) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  --promotion-rgba: rgba(0, 0, 0, 0.5);
  --product-price-color: brown;
}

body {
  background-color: var(--color-white);
}
